/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

body { font-family: 'Roboto', sans-serif }

/* ================= HERO BLOCK ================ */

.hero-block {
    position: relative;
    height: 80vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    /* Vertically center text */
    justify-content: center;
    overflow: hidden
}

/* Horizontally center text, left to right  */
.hero-block.text-center { align-items: center }
.hero-text-container { text-align: center } 

/* Stack order  */
.hero-block .hero-text-container   { z-index: 3 }
.hero-block .bg-overlay-purple  { z-index: 2 }
.hero-block h1, .hero-block h2     { z-index: 1 }

.hero-block h1, .hero-block h2 {
    line-height: 1.2;
    color:#fff;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.hero-block h1 {
    font-size: calc(48px + (120 - 48) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 24px;
}

.hero-block h2 {
    font-weight: normal;
    font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1600 - 320)));
}

.hero-img {
    position: absolute; 
    top: 0; right: 0; bottom: 0; left: 0; 
    /* Always 3rd in stack. Behind 3 and behind 2. */
    z-index: 0; 
}

.hero-img img {
    object-fit: cover; width: 100%; height: 100%;
}


.bg-overlay-purple {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;

    background-image: linear-gradient(rgba(172, 9, 236, 0.5),rgba(44, 9, 83, 0.5)); 
}

/* ================= SECTIONS ================ */



/* Regular and larger screens */
@media (min-width: 1200px) { 
	section { 
		margin-left: auto;
		margin-right: auto;
		padding: 3.5% 0 4% 0; 
		padding-left: calc( (100% - 1140px)/2 );
		padding-right: calc( (100% - 1140px)/2 );
	}
    .section-narrow {
		padding-left: calc( (100% - 920px)/2 );
		padding-right: calc( (100% - 920px)/2 );
	}
}

/* Tablets and smaller desktops */
@media (min-width: 1025px) and (max-width: 1199px ) { 
	section { padding: 3% 10% 4% 10% }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
	section { padding: 4% 5% 4% 5% }
}

/* Larger mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
	section { padding: 7% 13% 8% 13% }
}

/* Smaller mobiles */
@media (max-width: 399px) { 
	section { padding: 7% 10% 8% 10% } 
}


/* Sections: main heading */
section h1 {
    font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1140 - 320)));
    letter-spacing: -1px;
    color: #ffffff;
    margin-bottom: 12px;
    line-height: 1.2;
}
/* Sections: text paragraphs */
section p {
    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1140 - 320)));
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.5;
}

.bg-white {background-color: white;}
.bg-cyan { background-color: #a1cfee }
.bg-blue { background-color: #271c7e }
.bg-brown { background-color: #58440c }
.bg-purple { background-image: linear-gradient(#8a00d4,#7d12c0 )}
.bg-purple-g { background-image: linear-gradient( #66117e, #470c58)} 
.bg-l-brown { background-color: #58440c }
.bg-orange {background-image:linear-gradient( #f9c56c, #a2615b)}


/* Light blue section background: h1 headings and p text paragraphs */
.bg-cyan h1 { color: #1435b3 }
.bg-cyan p  { color: #222 }

/* Dark blue section background: h1 headings and p text paragraphs */
.bg-blue h1 { color: #fff }
.bg-blue p  { color: #fff }

/* purple section background: h1 headings and p text paragraphs */
.bg-purple h1 { color: #fff }
.bg-purple p  { color: #fff }

.bg-nuit  {background-color: #352763;}
.bg-nuit  h3{color: #fdd692;}

.bg-jour  {background-color: #f9c56c;}
.bg-jour  h3{color: #261c47;}

/* ======== FLEXBOX: PARENT AND CHILD ELEMENTS ======== */


.container-flexbox { 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}
/* ======== FLEXBOX: col 1 ======== */
.item-col-1 {
    padding: 12px; 
    margin-bottom: 40px; 
    width: 23%;
    border-radius: 10%;
}
.container-flexbox .item-col-1 { 
    width: 100%;
    text-align: center;
    padding: 10%;
    margin-bottom: 14%;
}

/* ======== FLEXBOX: col 2 ======== */

.item-col-2 {
    padding: 12px; 
    margin-bottom: 40px; 
    width: 23%;
    border-radius: 10%;
}


.container-flexbox .item-col-2 img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
}

/* Desktops - 2 columns */
.container-flexbox .item-col-2 { 
	width: 45%;
	text-align: left;
	padding: 5%;
}




/* ======== FLEXBOX: col 3 ======== */

.item-col-3 {
    padding: 12px; 
    margin-bottom: 40px; 
    width: 23%;
    border-radius: 10%;
}


.container-flexbox .item-col-3 img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
}

/* Desktops - 3 columns */
@media (min-width:768px) { 
	.container-flexbox .item-col-3 { 
		width: 30%;
		text-align: left;
		padding: 3%;
	}
}

/* Mobiles - 1 column */
@media (max-width:767px) { 
	.container-flexbox .item-col-3 { 
		width: 100%;
		text-align: center;
        padding: 10%;
		margin-bottom: 14%;
	}
}


/* ======== FLEXBOX: col 4 ======== */


.item-col-4 {
    padding: 12px; 
    margin-bottom: 40px; 
    width: 23%;
    border-radius: 10%;
}


.container-flexbox .item-col-4 img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
}

/* Desktops - 4 columns */
@media (min-width:768px) { 
	.container-flexbox .item-col-4 { 
		width: 23%;
		text-align: left;
		padding: 3%;
	}
}

/* Mobiles - 2 column */
@media (max-width:767px) { 
	.container-flexbox .item-col-4 { 
		width: 45%;
		text-align: center;
		padding: 5%;
		margin-bottom: 14%;
	}
}
/*=============== UTILTY CLASSES ============== */
.text-center { text-align: center !important }

.no-padding-bottom {
	padding-bottom: 0 !important;
}